*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    background-color: #F5F5F5;
    color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #1976D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    z-index: 999;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 24px;
    list-style: none;
    color: white;
}

.content {
    padding: 50px 0px 0px 0px;
    flex-direction: column;
    flex:1;
}

.logo{
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.hero-banner{
    display: flex;
    min-height: 350px;
    background-color: #1976D2;
    justify-content: left;
}
.hero-left-side{
    width: 100%;
    height: auto;
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.hero-left-side-content{
    width: 50%;
    margin: auto 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-left-side h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.hero-left-side h3{
    font-weight: 450;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.features-section h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5rem;
    min-height: calc(1.5rem * 2);
}
.feature-card-container{
    display: flex;
    justify-content: space-evenly;
}
.feature-card{
    border: 2px solid #cccccc;
    border-radius: 6px;
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 240px;
    padding: 24px;
}
.feature-card-icon{
    margin-bottom: 12px 0px;
}
.feature-card-icon svg{
    width: 40px;
    height: 40px;
}
.feature-card-title{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

/* Registration & Login Page */
.auth-container{
    background-color: #1976D2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form{
    width: 400px;
    height: auto;
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 24px 16px 8px 16px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}
.auth-input-group{
    position: relative;
    margin-bottom: 28px;
}
.auth-form h1{
    margin-bottom: 20px;
    text-align: center;
}
.auth-form input{
    padding: 4px 8px 4px 8px;
    border: none;
    border-bottom: 2px solid #999999;
    outline: none;
    background-color: transparent;
    border-radius: 0px;
    transition: 0.3s ease;
    font-size: 16px;
}
.auth-form label{
    position: absolute;
    left: 2px;
    top: -16px;
    font-size: 12px;
    margin-left: 4px;
    opacity: 0;
    transition: 0.25s ease;
    transform: translateY(5px);
}
.auth-form input:focus ~ label,
.auth-form input:not(:placeholder-shown) ~ label
{
    transform: translateY(0px);
    opacity: 1;
}
.auth-submit{
    padding: 10px 22px;
    background-color: #1976D2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;
    width: 100%;
    margin: 12px 0px
}
.auth-input-group small{
    color: red;
    font-style: italic;
}
.auth-message{
    text-align: center;
}
.auth-message a{
    color: #1976D2;
}
/* End Registration Login Page */

/* TASK MANAGEMENT */
.main-content{
    margin: 32px;
}

.task-list{
    margin: 10px 0px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.task-item{
    list-style: none;
    border-top: 2px solid rgb(191, 191, 191);
    padding: 12px;
}

.task-item:last-child{
    border-bottom: 2px solid rgb(191, 191, 191);
}

.task-name{
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}
.task-name-wrapper{
    display: flex;
    align-items: center;
}
.task-buttons{
    margin-left: auto;
}
.task-desc{
    color: #6c757d;
}
.task-done{
    color: #999;
    text-decoration: line-through;
    opacity: 0.9;
}
.task-name p{
    cursor: pointer;
    margin-right: 8px;
}

/* TASK PRIORITY STYLING */
.task-priority{
    display: flex;
    align-items: center;
    font-size: 10px;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 2px 6px;
    color: #fff;
}
.task-priority-low {
    background-color: #2a9d8f;
}
.task-priority-medium {
    background-color: #f4a261;
}
.task-priority-high {
    background-color: #ff0033;
}
/* END OF TASK PRIORITY */

button{
    font-size: 16px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
}

/* BUTTON STYLING */
.btn{
    display: inline-block;
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}

/* PRIMARY / BRAND */
.btn-primary {
    background-color: #1976D2; /* Calm Blue */
    color: #fff;
}
.btn-primary:hover {
    background-color: #155fad; /* darker blue */
}

/* ACCENT / ACTION */
.btn-warning {
    background-color: #FF9800; /* Vibrant Orange */
    color: #fff;
}
.btn-warning:hover {
    background-color: #e68900; /* darker orange */
}

/* STATUS: SUCCESS */
.btn-success {
    background-color: #4CAF50; /* Muted Green */
    color: #fff;
}
.btn-success:hover {
    background-color: #429746; /* darker green */
}

/* STATUS: ERROR / URGENT */
.btn-danger {
    background-color: #D32F2F; /* Warning Red */
    color: #fff;
}
.btn-danger:hover {
    background-color: #b72828; /* darker red */
}

/* SECONDARY (NEUTRAL GREY) */
.btn-secondary {
    background-color: #333333; /* Dark charcoal */
    color: #fff;
}
.btn-secondary:hover {
    background-color: #1f1f1f; /* darker charcoal */
}

.btn-ghost{
    background-color: transparent;
    color: black;
}
.btn-ghost:hover {
    background-color: #1976D2;
}

/* END OF BUTTON STYLING */

/* FORM STYLING */
form{
    width: 100%;
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
}

.form-group{
    margin: 12px;
    display: flex;
}
.form-label{
    font-weight:500;
    min-width: 180px;
}

.add-task-form{
    min-width: 50%;
    max-width: 600px;
}
/* END OF FORM STYLING */

/* FLASH MESSAGE STYLING */
.flash{
    margin: 16px 0px;
    padding: 8px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flash-closeButton{
    justify-content: right;
    cursor:pointer;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}
.flash-success{
    background-color: #DFFFD6;
    border: 1px solid #C2EAB0;
}
/* END OF FLASH MESSAGE */